@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  src: url("/fonts/Sora-VariableFont_wght.woff") format("woff");
  font-style: normal;
}
